<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brommel-Fotos</title>
    <style>
        img {
            border: 1px solid blue;
            margin: 30px;
            width: 500px;
        }
    </style>
</head>

<body style="background-color:powderblue;">
    <h1>Brommel</h1>
    <h4>AKA Bruno, Brommelchen, Katzenschatz </h4>
    * irgendwann vor dem 28.03.2005 <br>
    &#10014; 7.4.2020
    <hr>
    <img src="{{ url_for('static', filename='Brommel1.jpg') }}" alt="Test">
    <img src="{{ url_for('static', filename='Brommel2.jpg') }}" alt="Test">
    <img src="{{ url_for('static', filename='Brommel3.jpg') }}" alt="Test">
    <img src="{{ url_for('static', filename='Brommel4.jpg') }}" alt="Test">


</body>

</html>