<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brommel-Fotos</title>
    <style>
        img {
            border: 1px solid blue;
            margin: 30px;
            width: 500px;
        }
    </style>
</head>

<body style="background-color:powderblue;">
    <h1>Brommel</h1>
    <h4>AKNA Bruno, Brommelchen, Katzenschatz </h4>
    * irgendwann vor dem 28.03.2005 <br>
    &#10014; 7.4.2020
    <hr>
    <img src="{{ url_for('static', filename='20191221_094903.jpg') }}" alt="Test">
    <img src="{{ url_for('static', filename='20200101_102357.jpg') }}" alt="Test">
    <img src="{{ url_for('static', filename='20191212_180220.jpg') }}" alt="Test">
    <img src="{{ url_for('static', filename='20200101_102442.jpg') }}" alt="Test">


</body>

</html>